{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'bootstrap-4.0.0/css/bootstrap.min.css' %}">

        <title>Polls</title>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1><a href="{% url 'home' %}" class="btn btn-link btn-lg btn-default">Polls</a></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                {% block content %}Probably want to put some content in this block.{% endblock content %}
                </div>
            </div>
        </div>
        

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'bootstrap-4.0.0/js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>